.BeerCard{
    display: flex;
    flex-direction: row;
}
.imageHolder{
    width: 20vh;
    height: 20vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

.imageHolder a img{
    height: 100px;
}
.BoldStyle{
    font-weight: 700;
}
.list-group-item{
    text-align: left;
}
.contributor{
    font-size: 0.6rem;
}