.cattle-details-header .container > span:first-child {
    font-weight: bold;
    font-size: 1.2rem;
}

.cow-details-img-container {
    border: 1px solid #cbcbcb;
    padding: 10px;
    border-radius: 5px;
}