.homePageLinks a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin-bottom: 2%;
    width: 90%;
}
.homePageLinks{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.col a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

