@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap');

section.hero-section {
    background: url("../assets/pasto-2.jpg");
    background-size: cover;
    height: 684px;
}

section.features-section {
    background: #43a047;
}

section.features-section .figure {
    clip-path: circle(30%);
}

section.features-section .card-title {
    text-align: center;
    font-size: 1.5rem;
}

section.features-section .card-body {
    padding: 25px 15px;
}

section.features-section .card-text {
    text-align: center;
}

section.inspirational-section {
    color: #2e7d32;
    font-style: italic;
}

body{
    font-family: "Heebo", serif;
}

.card-text {
    text-align: justify;
}

.btn-criar-conta {
    color: #a5d6a7 !important;
}

