.homePageIcon{
    width:5vh;
    height: 5vh;
}
.navbar a{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.navbar-expand-lg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}